.page {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 6rem;
  color: var(--mat-sys-on-surface)
}

.entries {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
