<div class="calendar-page-layout">
  <div class="calendar-page">
    <div class="calendar-page__header">
      <app-search-bar>
      </app-search-bar>
    </div>
    <div class="calendar-page__main">
      <div class="calendar-page__entry">
        @if (selectedEntry(); as entry) {
          <app-entry
            [date]="entry.date"
            [moodFace]="entry.moodFace"
            [moodColor]="entry.moodColor"
            [moodName]="entry.moodName"
            [activities]="entry.activities"
            [note]="entry.note"
          />
        }
      </div>

        <app-calendar
          [date]="calendarDate()"
          [earliest]="earliest()"
          [latest]="latest()"
          [entries]="calendarEntries()"
          (dateChange)="changeMonth($event)"
          (daySelect)="selectDay($event)"
        />

      <app-text-tile class="calendar-page__media" color="var(--mat-sys-secondary)" [width]="288">
        <app-tabs [labels]="mediaTabs" [selected]="selectedMediaTab()" (selectedChange)="selectedMediaTab.set($event)" />
        <div class="calendar-page__media-header">
          <app-button variant="text" [iconOnly]="true" (click)="openMediaPicker()">
            <app-icon name="pencil" />
          </app-button>
        </div>
        <div class="calendar-page__media-grid">
          @for (item of mediaGridItems(); track item.id) {
            <app-media-card [image]="item.picture" [name]="item.name" [size]="120" [noText]="true"  />
          } @empty {
            <app-tile [width]="120" [height]="120" color="var(--mat-sys-surface-variant)" />
          }
        </div>
      </app-text-tile>
      </div>
  </div>

  <app-page-menubar />
</div>
