.calendar-page {
  display: flex;
  padding: 3rem;
  padding-bottom: 6rem;
  flex-direction: column;
}

.calendar-page__header {
  display: flex;
  justify-content: right;
  width: 100%;
}

.calendar-page__main {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  gap: 3rem;
}

.calendar-page__media-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

