.page {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 6rem;
  color: var(--mat-sys-on-surface);
}

.settings-page__content {
  display: flex;
  justify-content: center;
}

.settings-page__notification {
  position: fixed;
  bottom: 92px;
  right: 16px;
  z-index: 20;
}

.page {
  margin-top: 16px;
}
