:host {
  display: inline-block;
}

.settings-container__title {
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  border-radius: 16px;
  background: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  font: var(--mat-sys-body-medium);
  font-weight: 700;
  font-size: 1.2em;
  white-space: nowrap;
}

.settings-container__content {
  margin-top: 22px;
  color: var(--mat-sys-on-secondary);
}
